
  <h1>My Rails Girls Diary</h1>
  <div>
  <h1>My favourite websites</h1>
    <ul>
		<% for url, name in @websites %>
		  <li><a href="<%= url %>"><%= name %></a></li>
		<% end %>
    </ul>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />
  <%= link_to("New entry", new_entry_path) %>
  